.container {
  .home-page {
    border: none;
  }

  .quiz-page {
    border: none;
  }

  .result-page {
    border: none;
  }

  .scores-page {
    border: none;
  }

  .not-found-page {
    border: none;
  }
}
